@media (max-width: 576px) {
	.home .show-create-ac {
		display: inline;
	}
}

@media (min-width: 577px) {
	.home .show-create-ac {
		display: none;
	}
}

.home .hide-elem {
	display: none;
}

.home {
	text-align: center;
	margin-top: 12vh;
}

.home > .logo {
	width: 200px;
	height: 200px;
}

.home > .info {
	margin: -30px 0 0 0;
	font-size: 1.1rem;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	font-weight: bold;
}

.home .create-ac {
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 10px;
	margin-top: 30px;
	padding: 8px;
}

.home .create-ac:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
